header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #167270;
  box-shadow: 5px 0 10px 3px black;
}
.header-h1 {
  color: white;
  font-weight: bold;
  font-size: 50px;
  padding: 40px;
}
