.tag-button {
  background-color: #760075;
  color: white;
  width: 30%;
  height: 40px;
  box-shadow: 2px 0 10px 1px black;
  margin: 10px;
  border-radius: 10px;
}
.tag-button:hover {
  background-color: #550254;
}
